.github/skills/skills-n8n/workflow-blueprint-profissional.json
{
  "name": "Blueprint Profissional - Webhook para Integração",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/blueprint",
        "options": {
          "rawBody": true
        },
        "responseMode": "lastNode",
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger",
      "name": "TRG - Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "blueprint-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// VAL - Validar entrada\nconst body = $input.first().json.body;\n\n// Validação de campos obrigatórios\nconst requiredFields = ['userId', 'action', 'payload'];\nconst missing = requiredFields.filter(field => !body[field]);\n\nif (missing.length > 0) {\n  throw new Error(`Campos obrigatórios ausentes: ${missing.join(', ')}`);\n}\n\n// Validação de tipos\nif (typeof body.userId !== 'string' || body.userId.length === 0) {\n  throw new Error('userId deve ser uma string não vazia');\n}\n\nconst validActions = ['create', 'update', 'delete'];\nif (!validActions.includes(body.action)) {\n  throw new Error(`action inválida. Valores aceitos: ${validActions.join(', ')}`);\n}\n\n// Retornar dados validados com metadata\nreturn [{\n  json: {\n    ...body,\n    validatedAt: new Date().toISOString(),\n    correlationId: `${body.userId}-${Date.now()}`\n  }\n}];"
      },
      "id": "validation-code",
      "name": "VAL - Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// MAP - Transformar para formato da API externa\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    request: {\n      user_id: data.userId,\n      operation: data.action.toUpperCase(),\n      data: data.payload,\n      metadata: {\n        timestamp: data.validatedAt,\n        correlation_id: data.correlationId,\n        source: 'n8n-blueprint'\n      }\n    }\n  }\n}];"
      },
      "id": "map-transform",
      "name": "MAP - Formato API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.exemplo.com/v1/operations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "retryInterval": 1000
          }
        }
      },
      "id": "http-request",
      "name": "ACT - API Externa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "IF - Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Preparar resposta de sucesso\nconst original = $('VAL - Entrada').first().json;\nconst apiResponse = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    correlationId: original.correlationId,\n    result: apiResponse.body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "success-response",
      "name": "MAP - Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Preparar resposta de erro\nconst original = $('VAL - Entrada').first().json;\nconst apiResponse = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    correlationId: original.correlationId,\n    error: {\n      code: apiResponse.statusCode || 'UNKNOWN',\n      message: apiResponse.body?.message || 'Erro na integração',\n      details: apiResponse.body\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "error-response",
      "name": "MAP - Erro API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 500 }}"
        }
      },
      "id": "respond-success",
      "name": "RESP - Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error.code }}"
        }
      },
      "id": "respond-error",
      "name": "RESP - Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ERR - Tratamento de erro de validação\nconst error = $input.first().json.error;\n\nreturn [{\n  json: {\n    success: false,\n    error: {\n      code: 'VALIDATION_ERROR',\n      message: error.message || 'Erro de validação',\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "error-handler",
      "name": "ERR - Validação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "400"
        }
      },
      "id": "respond-validation-error",
      "name": "RESP - Erro Validação",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "content": "## Blueprint Profissional\n\n**Padrão:** Webhook → Validação → Transform → Integração → Response\n\n**Recursos:**\n- Validação de entrada com campos obrigatórios\n- Correlation ID para rastreamento\n- Retry automático com backoff\n- Timeout de 30s\n- Tratamento de erro completo\n- Resposta adequada por código HTTP\n\n**Configurar:**\n1. Substituir URL da API externa\n2. Configurar credenciais HTTP\n3. Ajustar campos de validação\n4. Testar com POST para /api/blueprint",
        "height": 340,
        "width": 380,
        "color": 4
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 580]
    }
  ],
  "connections": {
    "TRG - Webhook": {
      "main": [
        [
          {
            "node": "VAL - Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAL - Entrada": {
      "main": [
        [
          {
            "node": "MAP - Formato API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERR - Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAP - Formato API": {
      "main": [
        [
          {
            "node": "ACT - API Externa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACT - API Externa": {
      "main": [
        [
          {
            "node": "IF - Sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Sucesso?": {
      "main": [
        [
          {
            "node": "MAP - Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MAP - Erro API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAP - Sucesso": {
      "main": [
        [
          {
            "node": "RESP - Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAP - Erro API": {
      "main": [
        [
          {
            "node": "RESP - Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERR - Validação": {
      "main": [
        [
          {
            "node": "RESP - Erro Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/Sao_Paulo",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 300,
    "maxExecutionTimeout": 3600,
    "availableInMCP": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "blueprint",
      "id": "blueprint-tag"
    },
    {
      "name": "profissional",
      "id": "profissional-tag"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "blueprint-profissional-v1"
  }
}
